/**

Basic styling to present a user-friendly configurator page for public viewing.
Implementing applications should override as needed.

 */

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/cropperjs/dist/cropper.min";

.arc.configurator {
  .nav-steps {
    @extend .nav;
    @extend .justify-content-center;

    li {
      a {
        @extend .nav-link;
      }
    }
  }

  .image-stack {
    position: relative;

    img, svg {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
    }

    img:first-child {
      position: relative;
    }
  }

  .configuration {
    @extend .row;
  }

  .output-ui {
    @extend .col-5;
  }

  .input-form {
    @extend .col-7;
  }

  label.swatch {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;

    input {
      display: none;
    }
  }
}
